@tailwind base;
@tailwind components;
@tailwind utilities;
.grid-container{
  position: static;
  width: 300px;
  /* height: 100px; */
}
.col-xs-12{
  /* width: 100vw; */
  height: 50vw !important;
}
.height-two{
  height: 25vw !important;
}
.background{
  background-size: contain !important;
}